In [1]:
import numpy as np
import pandas as pd

# Basic Plotting - Skill Check

If you are able to complete the problems in this notebook you are good to go for the boot camp!

#### Problem 1

Plot $x$ vs $y$

In [2]:
x = np.linspace(0,10,100)
y = np.sin(x) + 2

In [1]:
# Answer here
# Make sure your axes are labeled
import matplotlib.pyplot as plt

#### Problem 2

Take the following dataframe named `iris`. Then produce a scatter plot of `petal_length` by `petal_width`. Color the points by the `class` feature. There are three classes, `0`,`1`,and `2`. Make sure to label your axes and produce a legend so we know what each point represents.

In [5]:
from sklearn.datasets import load_iris
iris = load_iris()
data = np.concatenate([iris.data,iris.target.reshape(-1,1)],axis=1)
column_names = [name[:-5].split(" ")[0] + "_" + name[:-5].split(" ")[1] for name in iris.feature_names]
column_names.append('class')
iris = pd.DataFrame(data,columns = column_names)

In [6]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2    0.0
1           4.9          3.0           1.4          0.2    0.0
2           4.7          3.2           1.3          0.2    0.0
3           4.6          3.1           1.5          0.2    0.0
4           5.0          3.6           1.4          0.2    0.0

In [2]:
# Answer here

#### Problem 3

Take the dataframe named `shots`, and produce a two by two plot. The subplot in the `[0,0]` position should be a histogram of the `LOC_X` values, the subplot in the `[0,1]` spot should be a scatter plot of `LOC_X` vs `LOC_Y`, and the subplot in the `[1,1]` spot should be a histogram of the `LOC_Y` values. There is no subplot in the `[1,0]` spot.

In [18]:
shots = pd.read_csv("JR_Smith_Shots_2015_16.csv")

In [3]:
# Answer here